<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Bootstrap CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <title>Benson BBQ Menu</title>
    <link rel="stylesheet" href="/css/meats.css" />
  </head>
  <body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Benson's</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="menu">Menu</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="order">Order</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="status">Status</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="checkout">Checkout</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
<% console.log(allSides.length) %>
    <div class="carousel">
      <div class="list">
        <% for( let i = 0; i < allSides.length; i++ ) { %>
          <% let side = allSides[i] %>

          <div class="item">
            <img src="<%= side.image %>" alt="" />
            <div class="content">
              <div class="author"><%= side.type %></div>
              <div class="title"><%= side.name %></div>
              <div class="topic"><%= side.price %></div>
              <div class="des">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ipsam
                  saepe accusantium soluta quibusdam error. Tempore officia hic
                  asperiores rem numquam consectetur aliquid assumenda autem esse
                  maiores corrupti accusantium perferendis, accusamus quaerat.
              </div>
              <div class="buttons">
                <button>SUBSCRIBE</button>
              </div>
            </div>
          </div>

        <% } %>
      </div>

      <div class="thumbnail">
        <% for( let i = 0; i < allSides.length; i++ ) { %>
          <% let side = allSides[i] %>
        <div class="item">
          <img src="<%= side.image %>" alt="">
          <div class="content">
            <div class="title">
              <%= side.name %>
            </div>
            <div class="des">
              <%= side.price %>
            </div>
          </div>
        </div>

        <% } %>
      </div>

      <div class="arrows">
        <button id="prev"><</button>
        <button id="next">></button>
      </div>
      <div class="time"></div>
    </div>
    
    <script src="/js/script.js"></script>
  </body>
</html>